RewriteEngine On



# Permitir acceso directo al directorio uploads
RewriteCond %{REQUEST_URI} ^/?uploads/ [NC]
RewriteCond %{REQUEST_FILENAME} -f
RewriteRule ^.*$ - [L]

# Reglas existentes para enrutar todo lo demás a index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]
